.input {
  color: var(--mantine-color-brand-0);
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #0a404a;
  padding-bottom: 0.5rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.input::placeholder {
  color: var(--mantine-color-brand-0);
  text-transform: capitalize;
  opacity: 1; /* Firefox */
}
.input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--mantine-color-brand-0);
  text-transform: capitalize;
}

.input-1 {
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  width: 100%;
}

.input-1::placeholder {
  color: white;
  text-transform: capitalize;
  opacity: 1; /* Firefox */
}

.input-1::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: white;
  text-transform: capitalize;
}
