.cls-1 {
  fill: #a9d6a0;
}
.cls-2 {
  fill: #a6d5ad;
}
.cls-3 {
  fill: #aad6a1;
}
.cls-4 {
  fill: #b7d663;
}
.cls-5 {
  fill: #a4d4b7;
}
.cls-6 {
  fill: #add68f;
}
.cls-7 {
  fill: #b6d669;
}
.cls-8 {
  fill: #a2d3be;
}
.cls-9 {
  fill: #b0d682;
}
.cls-10 {
  fill: #abd696;
}
.cls-11 {
  fill: #b5d66e;
}
.cls-12 {
  fill: #a2d3c2;
}
.cls-13 {
  fill: #aad69a;
}
.cls-14 {
  fill: #b7d662;
}
.cls-15 {
  fill: #bbd753;
}
.cls-16 {
  fill: #a1d3c9;
}
.cls-17 {
  fill: #aed587;
}
.cls-18 {
  fill: #aed688;
}
.cls-19 {
  fill: #aed68c;
}
.cls-20 {
  fill: #a6d5ae;
}
.cls-21 {
  fill: #a1d3ca;
}
.cls-22 {
  fill: #b6d666;
}
.cls-23 {
  fill: #aad69c;
}
.cls-24 {
  fill: #9fd3ce;
}
.cls-25 {
  fill: #bbd752;
}
.cls-26 {
  fill: #aed68d;
}
.cls-27 {
  fill: #aed68e;
}
.cls-28 {
  fill: #fff;
}
.cls-29 {
  mask: url(#mask);
}
.cls-30 {
  fill: #a6d5af;
}
.cls-31,
.cls-32 {
  fill: none;
  stroke: #231f20;
}
.cls-33 {
  fill: #bbd751;
}
.cls-34 {
  fill: #afd684;
}
.cls-35 {
  fill: #acd697;
}
.cls-36 {
  fill: #b3d677;
}
.cls-37 {
  fill: #b7d664;
}
.cls-38 {
  fill: #a7d6a9;
}
.cls-39 {
  fill: #b5d66c;
}
.cls-40 {
  fill: #a2d3bf;
}
.cls-41 {
  fill: #b8d65f;
}
.cls-42 {
  fill: #aad69e;
}
.cls-43 {
  fill: #b5d66b;
}
.cls-44 {
  fill: #aed68a;
}
.cls-45 {
  fill: #b8d65d;
}
.cls-46 {
  fill: #bcd74f;
}
.cls-47 {
  fill: #a3d3bd;
}
.cls-48 {
  fill: #a4d4b4;
}
.cls-49 {
  fill: #a4d4b8;
}
.cls-50 {
  fill: #b4d66d;
}
.cls-51 {
  fill: #aed689;
}
.cls-52 {
  fill: #a8d6a4;
}
.cls-53 {
  fill: #a1d3c5;
}
.cls-54 {
  fill: #bad65b;
}
.cls-55 {
  fill: #a1d3c3;
}
.cls-56 {
  fill: #b9d75b;
}
.cls-57 {
  fill: #a9d69e;
}
.cls-58 {
  fill: #aad69d;
}
.cls-59 {
  fill: #b7d669;
}
.cls-60 {
  fill: #bcd750;
}
.cls-61 {
  fill: #bbd756;
}
.cls-62 {
  fill: #acd698;
}
.cls-63 {
  fill: #a0d2c8;
}
.cls-64 {
  fill: #b2d67c;
}
.cls-65 {
  fill: #a8d6a7;
}
.cls-66 {
  fill: #b6d66a;
}
.cls-67 {
  fill: #b4d671;
}
.cls-68 {
  fill: #9fd3cc;
}
.cls-69 {
  fill: #bbd757;
}
.cls-70 {
  fill: #bbd754;
}
.cls-71 {
  fill: #a4d4b5;
}
.cls-72 {
  fill: #b4d673;
}
.cls-73 {
  fill: #bbd758;
}
.cls-74 {
  fill: #b1d681;
}
.cls-75 {
  fill: #b4d674;
}
.cls-76 {
  fill: #aad69b;
}
.cls-77 {
  fill: #b2d679;
}
.cls-78 {
  fill: #a8d6a6;
}
.cls-79 {
  fill: #a7d6a8;
}
.cls-80 {
  fill: #a4d3b9;
}
.cls-81 {
  fill: #a4d4bb;
}
.cls-82 {
  fill: #a2d3c1;
}
.cls-83 {
  fill: #a4d4b3;
}
.cls-84 {
  fill: #a1d3c6;
}
.cls-85 {
  fill: #acd691;
}
.cls-86 {
  fill: #a2d3c3;
}
.cls-87 {
  fill: #a8d6a3;
}
.cls-88 {
  fill: #a6d5b0;
}
.cls-89 {
  fill: #afd686;
}
.cls-90 {
  fill: #b1d67b;
}
.cls-91 {
  fill: #afd685;
}
.cls-92 {
  fill: #b4d670;
}
.cls-32 {
  stroke-miterlimit: 10;
}
.cls-93 {
  fill: #abd698;
}
.cls-94 {
  fill: #b0d680;
}
.cls-95 {
  fill: #a5d5b2;
}
.cls-96 {
  fill: #a4d3bc;
}
.cls-97 {
  fill: #b3d676;
}
.cls-98 {
  fill: #a6d5b1;
}
.cls-99 {
  fill: #b7d665;
}
.cls-100 {
  fill: #acd693;
}
.cls-101 {
  fill: #b8d65e;
}
.cls-102 {
  fill: #b3d678;
}
.cls-103 {
  fill: #a7d5aa;
}
.cls-104 {
  fill: #b0d57e;
}
.cls-105 {
  fill: #b1d67d;
}
.cls-106 {
  fill: #a1d3c7;
}
.cls-107 {
  fill: #b0d57f;
}
.cls-108 {
  fill: #a4d4b6;
}
.cls-109 {
  fill: #a4d4ba;
}
.cls-110 {
  fill: #b7d661;
}
.cls-111 {
  fill: #bad659;
}
.cls-112 {
  fill: #b4d66f;
}
.cls-113 {
  fill: #a4d4bc;
}
.cls-114 {
  fill: #b1d67a;
}
.cls-115 {
  fill: #a6d5ab;
}
.cls-116 {
  fill: #acd694;
}
.cls-117 {
  fill: #b6d668;
}
.cls-118 {
  fill: #add58d;
}
.cls-119 {
  fill: #a9d6a2;
}
.cls-120 {
  fill: #a4d5b2;
}
.cls-121 {
  fill: #b4d675;
}
