.section {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @media (min-width: $mantine-breakpoint-md) {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.full-height-section {
  padding-top: 4rem;
  @media (min-width: $mantine-breakpoint-lg) {
    height: 100dvh;
  }
}
.section-no-pad {
  padding-left: 0;
  padding-right: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  @media (min-width: $mantine-breakpoint-md) {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.section-start {
}
.hidden {
  opacity: 0 !important;
  @media (min-width: $mantine-breakpoint-xl) {
    opacity: 1;
  }
}
.section-content {
  position: relative;
  max-width: 1440px;
}
.section-content-trigger {
  position: relative;
}
.pinned-section {
  position: absolute;
  top: 0;
  opacity: 0;
}
.section-animation {
}
.black {
}
.numbers {
}
.stat-number {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 0.5rem;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 4rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 0rem;
  }
}
.stat-copy {
  font-size: 1.2rem;
  line-height: 3rem;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 1.4rem;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 1rem;
  }
}
.fadeIn {
  transition: 0.3s all;
  opacity: 0;
}
.enable {
  opacity: 1;
}
.title {
  font-size: 2rem;
  @media (min-width: $mantine-breakpoint-xs) {
    font-size: 3rem;
  }
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 4.18rem;
  }
}
.title-2 {
  font-size: 2.25rem;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 3rem;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 2.25rem;
    max-width: 21rem;
  }
}
.copy-2 {
  font-size: 1.15rem;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 1.5rem;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 1.15rem;
    max-width: 23rem;
  }
}
.button-2 {
  font-size: 0.84rem;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 1.25rem;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 0.84rem;
  }
}
.landing {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}
.box-element-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  background-color: var(--mantine-color-brand-0);
  margin-bottom: 0.5rem;
  border-radius: 0.8rem 0.8rem 0 0.8rem;
}
.box-element-1 > img {
  width: 2.5rem;
}
.box-element-2 {
  margin-left: auto;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--mantine-color-brand-6);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
}
.footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid #e1e1e1;
  margin-top: auto;
}
.contact-form-container {
  border-radius: 3rem 0 3rem 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @media (min-width: $mantine-breakpoint-sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.footer a {
  color: royalblue;
}
.footer-margin {
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-width: $mantine-breakpoint-sm) {
    padding-top: 2rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
}
.footer-stack {
  display: flex;
  align-items: center;

  @media (min-width: $mantine-breakpoint-md) {
    align-items: flex-start;
  }
}
.link:hover > .bar-link {
  transform: translateX(0);
}
.bar-link {
  width: 100%;
  height: 0.15rem;
  background: rgb(49, 122, 61);
  background: linear-gradient(90deg, #bcdc49 0%, #9fd3ce 100%);
  transform: translateX(-101%);
  transition: all 0.5s;
}
.bar-link-active {
  transform: unset !important;
}
.return-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #0a404a;
  border-radius: 100%;
  cursor: pointer;
  transform: translate(-50%, 5rem);

  @media (min-width: $mantine-breakpoint-xs) {
    left: unset;
    right: 0;
    transform: unset;
    margin-bottom: 5rem;
    margin-right: 1rem;
  }
}

.background-video {
  min-width: 105%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: auto;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  @media (min-width: $mantine-breakpoint-lg) {
    height: auto;
    width: 100%;
  }
}
.splotch-1 {
  z-index: 9999;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), 0.8) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: normal;
  width: 200%;
  height: 200%;
  top: 135%;
  left: 130%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  opacity: 1;
}
.splotch-2 {
  z-index: 9999;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color2), 0.8) 0,
      rgba(var(--color2), 0) 50%
    )
    no-repeat;
  mix-blend-mode: normal;
  width: 150%;
  height: 150%;
  top: 70%;
  left: 85%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  opacity: 0.6;
}
.splotch-3 {
  z-index: 9999;
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), 0.8) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: normal;
  width: 200%;
  height: 200%;
  top: 160%;
  left: 70%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  opacity: 1;
}
