.section {
  overflow: hidden;
}
.section-content {
  position: relative;
  max-width: 1440px;
}
.section-content-trigger {
  position: relative;
}
.pinned-section {
  position: absolute;
  top: 0;
  opacity: 0;
}
.section-animation {
}
.black {
}
.numbers {
}
.landing {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}
.box-element-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  background-color: var(--mantine-color-brand-0);
  margin-bottom: 0.5rem;
  border-radius: 0.8rem 0.8rem 0 0.8rem;
}
.box-element-1 > img {
  width: 2.5rem;
  /* transform: translateY(-0.1rem); */
}
.box-element-2 {
  margin-left: auto;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--mantine-color-brand-6);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
}
.footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid #e1e1e1;
  margin-top: auto;
}
.contact-form-container {
  border-radius: 3rem 0 3rem 3rem;
}

.footer a {
  color: royalblue;
}
.link:hover > .link-bar {
  transform: translateX(0);
}
.link-bar {
  width: 100%;
  height: 0.15rem;
  background: rgb(49, 122, 61);
  background: linear-gradient(90deg, #bcdc49 0%, #9fd3ce 100%);
  transform: translateX(-101%);
  transition: all 0.5s;
}
.link-bar-active {
  transform: unset !important;
}
.return-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  margin-bottom: 5rem;
  margin-right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #0A404A;
  border-radius: 100%;
  cursor: pointer;
}
