.container {
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-width: $mantine-breakpoint-sm) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.post-container {
    padding-left: 1rem;
    padding-right: 1rem;
    @media (min-width: $mantine-breakpoint-sm) {
      padding-left: 6rem;
      padding-right: 6rem;
    }
    @media (min-width: $mantine-breakpoint-md) {
        padding-left: 5rem;
        padding-right: 5rem;
      }
  }
