html,
body {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 12px !important;
  }
  @media (max-width: $mantine-breakpoint-md) {
    font-size: 18px !important;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 16px !important;
  }
  @media (min-width: $mantine-breakpoint-xl) {
    font-size: 24px !important;
  }
}
:root {
  --color-bg1: #fff;
  --color-bg2: #fff;
  --color1: 188, 220, 73;
  --color2: 159, 211, 206;
  --color3: 188, 220, 73;
  --color4: 159, 211, 206;
  --color5: 159, 211, 206;
  --color-interactive: 255, 0, 0;
  --circle-size: 200%;
  --blending: screen;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: unset;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
}
.wp-block-image {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
.wp-block-image > img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.swiper {
  height: fit-content;
}
.swiper-custom-pagination {
  position: relative;
  left: -50%;
  transform: translateX(50%);
}
.swiper-pagination-bullet {
  background-color: #bcdc49 !important;
}
li::marker {
  color: #bcdc49;
}
.gsap-initial {
  opacity: 0;
}
/* posts */
.what {
  font-size: 0.7rem;
  line-height: 1.15rem;
}
.wp-block-image {
  margin-top: 2rem;
  margin-bottom: 2rem;
}