.shell-1 {
  border-radius: 2rem 2rem 0 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.shell-2 {
  border-radius: 0 2rem 2rem 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.shell-3 {
  display: flex;
  align-items: end;
  border-radius: 2rem 2rem 0 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.shell-4 {
  display: flex;
  align-items: end;
  border-radius: 2rem 2rem 0 2rem;
  padding: 0;
}
.shell-5 {
  display: flex;
  align-items: end;
  border-radius: 2rem 2rem 2rem 2rem;
  padding: 0;
}
.inner-1 {
  width: 100%;
  background-color: var(--mantine-color-brand-0);
  padding-left: 1.5rem;
  padding-right: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 2rem 2rem 0 2rem;
}
.inner-2 {
  border-radius: 0;
  width: 100%;
}
.inner-3 {
  border-radius: 0;
  height: 100%;
  position: relative;
}
.inner-4 {
  width: 100%;
  background-color: var(--mantine-color-brand-0);
  padding-left: 1.5rem;
  padding-right: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 2rem 0rem 2rem 2rem;
}
.arrow {
  padding-top: 1rem;
  transform: translateX(0.5rem);
  margin-left: auto;
  margin-top: auto;
}
.arrow-absolute {
  transform: translate(2.5rem, 0.5rem);
  position: absolute;
  right: 0;
  bottom: 0;
}
.arrow-absolute-top {
  transform: translate(2.5rem, -0.5rem) rotate(-90deg);
  position: absolute;
  right: 0;
  top: 0;
}
.arrow-absolute-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(0.5rem);
}
.bg-image {
  background-size: cover;
}
.gradient {
  background: #bcdc49;
  background: linear-gradient(180deg, #bcdc49 0%, #9fd3ce 100%);
  opacity: 0.7;
}
.category {
  font-size: 0.8rem;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 1rem;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 0.6rem;
  }
}
.title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 1.6rem;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 1.25rem;
  }
}
.title-feature {
  font-size: 1.25rem;
  line-height: 1.5rem;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 1.25rem;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 0.9rem;
  }
}
