.service-card {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 18rem;
  background-color: var(--mantine-color-brand-0);
  border-radius: 2.5rem 0 2.5rem 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}
.service-card:hover {
  background-color: white;
  aspect-ratio: auto;
  height: fit-content;
}
.service-card:hover > .arrow {
  opacity: 0;
}
.service-card:hover > .close {
  opacity: 1;
}
.service-card:hover > .content-1 {
  opacity: 0;
}
.service-card:hover > .content-2 {
  opacity: 1;
}
.service-card:hover > .content-2 {
  height: 100%;
}
.header {
  font-size: 1.4rem;
  line-height: 1.8rem;
  @media (min-width: $mantine-breakpoint-md) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.icon {
  height: 5rem;
  @media (min-width: $mantine-breakpoint-md) {
    height: 5rem;
  }
}
.arrow {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  transition: 0.2s all;
}
.close {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  transition: 0.2s all;
  opacity: 0;
}
.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transition: opacity 0.3s;
  position: absolute;
  opacity: 1;
  padding: 1rem 1rem 1rem 1rem;
  @media (min-width: $mantine-breakpoint-md) {
    padding: 2rem 2rem 2rem 2rem;
  }
}

.content-2 {
  height: 0%;
  transition: opacity, height 3s;
  opacity: 0;
  padding: 1rem 1rem 1rem 1rem;
  @media (min-width: $mantine-breakpoint-md) {
    padding: 2rem 2rem 2rem 2rem;
  }
}
.content-2 ul {
  margin-block-end: 0rem;
}
