.mycircleicon {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #bcdc49;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  @media (min-width: $mantine-breakpoint-lg) {
    display: flex;
  }
}
.mycircleicon-static {
  display: block;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #bcdc49;
  pointer-events: none;
  bottom: 0;
  left: 0;
  transform: translate(1rem, -1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  @media (min-width: $mantine-breakpoint-lg) {
    display: none;
  }
}
.member-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.member-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media (min-width: $mantine-breakpoint-lg) {
    text-align: left;
    align-items: flex-start;
  }
}
.scrollbar {
  &,
  &:hover {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-6)
    );
  }

  &[data-orientation="vertical"] .thumb {
    background-color: #d2e393;
  }

  &[data-orientation="horizontal"] .thumb {
    background-color: #d2e393;
  }
}
.cardModal {
  position: absolute;
  z-index: 999999999999;
}
.cardModal div section {
  height: 100%;
  max-width: 960px;

  @media (min-width: $mantine-breakpoint-md) {
    height: fit-content;
    /* max-height: 515px; */
  }
}
