.input-container {
  position: relative;
  max-width: 17.1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $mantine-breakpoint-xs) {
    margin-left: 0;
    margin-right: 0;
  }
}
.arrow {
  position: absolute;
  right: 0;
  transform: translate(-1rem, -0.8rem);
}
.input {
  color: var(--mantine-color-brand-0);
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #0a404a;
  padding-bottom: 0.5rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.input::placeholder {
  color: var(--mantine-color-brand-0);
  text-transform: capitalize;
  opacity: 1; /* Firefox */
}

.input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--mantine-color-brand-0);
  text-transform: capitalize;
}
